<div class="flex-container f-j-r">
<div class="h4">
  <a href="{{ url }}"{{ attributes.addClass('social-title') }}>
    <i class="rss"></i> {{ 'Subscribe to @title'|t({'@title': title}) }}
  </a>
</div>
</div>
