<section class="ws premios-cinder">
  <div class="image-list">
    <article>
      <figure>
        <a href="/comics/nacen-los-premios-cinder" title="Nacen los Premios CINDER">
          <img data-src="{{ base_path ~ directory }}/assets/img/blocks/premioscinder.png" alt="Nacen los Premios CINDER" title="Nacen los Premios CINDER" class="lazyload"/>
        </a>
      </figure>
    </article>
  </div>

</section>
