<section class="ws">
  <header>
    <div class="h3">Premios Trillo 2020</div>
  </header>
  <div class="sb-list">
    <article>
      <figure>
        <a href="/premios-trillo-2020" title="Votá tus ganadores para los Premios Trillo 2020">
          <img data-src="/themes/newouroboros/assets/img/blocks/PREMIOSTRILLO2020block.jpg" alt="Votá tus ganadores para los Premios Trillo 2020" title="Votá tus ganadores para los Premios Trillo 2020" class="lazyload"/>
        </a>
      </figure>
    </article>
  </div>
</section>
