<section class="ws">
  <div class="banner-middle">
<a href="/historieta-argentina/concurso-fierrorgb" title="Bases y condiciones del concurso FIERRO.RGB"><img data-src="/{{ base_path ~ directory }}/assets/img/blocks/CONCURSOFIERRO.RGB.jpg" alt="Bases y condiciones del concurso FIERRO.RGB" title="Bases y condiciones del concurso FIERRO.RGB" class="lazyload"/></a>
  </div>
</section>
