<section class="ws store-locator">
  <div class="image-list">
    <article>
      <figure>
      <a href="/comic-stores" title="Buscador de Comiquerías"><img data-src="/{{ base_path ~ directory }}/assets/img/banners/stores/comic-stores-banner.png" alt="Buscador de Comiquerías" title="Buscador de Comiquerías" class="lazyload"/></a>
      </figure>
    </article>
  </div>
</section>
